<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <tbody>
                        <tr class="form-row">
                            <form class="user-form">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="new-user" type="text" name="name" />
                                </td>
                                <td><button type="submit" class="btn btn-success">Create Project</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Project</h5>
                    <ul id="allUsers" class="list-group">
                        {{#each Project}}
                        <li  class="list-group-item">
                            <h4>{{this.id}}. {{this.project_Name}}</h4>
                            <div>
                                <ul>{{#each User}}
                                    <li>{{this.name}}</li>
                                </ul>

                            </div>
                            <button data-id="{{this.id}}" class="btn btn-danger float-right delete">X</button>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/logic.js"></script>