<section class="hero is-info is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="./img/seisan-type-white.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span>Home</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Be Productive
                </h1>
                <h2 class="subtitle">
                    The Ninja's Science of Getting Things Done.
                </h2>
            </div>
        </div>
    </div>


    <section class="container is-fluid">

        <div class="card has-background-grey-lighter">
            <p class="title is-4 has-text-black level-item has-text-centered has-background-grey-lighter">Add A User</p>
            <div class="field">
                <div class="control">
                    <form class="user-form">
                        <input placeholder="Enter a name" id="new-user" type="text" name="name" class="input is-round is-medium  has-background-white-bis" />
                        <td>
                            <div class="box has-text-centered has-background-grey-lighter">
                                <button type="submit" class="button is-link is-medium is-rounded has-button-centered">Create
                                    User
                                </button>
                            </div>

                        </td>
                    </form>
                </div>
            </div>


    </section>


    <br>
    </div>
    <div class="container  is-fluid has-background-grey-lighter">
        <div class="card has-background-grey-lighter">
            <p class="title is-4 has-text-black level-item has-text-centered">User</p>
            <ul id="allUsers" class="normal">
                {{#each User}}
                <li class=" box has-background-grey-lighter">
                    <h4 class="title is-5 has-text-black level-item has-text-centered ">{{this.id}}.
                        {{this.name}}</h4>
                    <div class="box has-text-centered has-background-grey-lighter ">
                        <div>
                            <button data-id="{{this.id}}" class="  login button is-link is-medium is-rounded">Login</button>
                        </div>
                        <br>
                        <div class=" has-text-centered has-background-grey-lighter">
                            <button data-id="{{this.id}}" class=" delete button is-danger is-medium is-rounded">
                            </button>
                        </div>
                    </div>

                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div>
        <a href="/">← Back To Home</a>
    </div>



    <div class="columns is-mobile is-centered">
        <div class="column is-half is-narrow"></div>
    </div>

    <script src="../js/bulma.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>